<!-- filepath: c:\Binduphong\ETMDAPP\templates\admindashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng Điều Khiển Quản Trị</title>
    <link rel="stylesheet" href="/static/css/admindashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include 'base_nav.html' %}
    <div class="main-content">
        <div class="dashboard">
            <h2 class="heading">Bảng điều khiển dành cho quản trị viên</h2>
            <div class="color-box">
                <div class="box pink">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <p>Tổng số phòng ban</p>
                    <h3>{{ total_departments }}</h3>
                </div>
                <div class="box orange">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <p>Tổng số nhân viên</p>
                    <h3>{{ total_employees }}</h3>
                </div>
                <div class="box green">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                    <p>Công việc đang xử lý</p>
                    <h3>{{ assigned_tasks_count }}</h3>
                </div>
                <div class="box blue">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    <p>Công việc đã hoàn thành</p>
                    <h3>{{ finished_tasks_count }}</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>