<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bảng điều khiển Nhân viên</title>
    <link rel="stylesheet" href="/static/css/admindashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
    {% include 'menu2.html' %}
    <div class="main-content">
        <div class="dashboard">
            <h2 class="heading">Bảng điều khiển Nhân viên</h2>
            <div class="color-box">
                <div class="box pink">
                    <i class="fa fa-tasks"></i>
                    <p>Tổng công việc</p>
                    <h3>{{ total_tasks }}</h3>
                </div>
                <div class="box orange">
                    <i class="fa fa-play-circle"></i>
                    <p>Vừa bắt đầu</p>
                    <h3>{{ just_started_tasks }}</h3>
                </div>
                <div class="box green">
                    <i class="fa fa-area-chart"></i>
                    <p>Đang tiến hành</p>
                    <h3>{{ in_progress_tasks }}</h3>
                </div>
                <div class="box blue">
                    <i class="fa fa-check-circle"></i>
                    <p>Hoàn thành</p>
                    <h3>{{ completed_tasks }}</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>