<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/employee_dashboard.css" />
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
    {% include 'menu2.html' %}
    <h1>Chào mừng bạn đến với bảng mô tả công việc</h1>
    <div class="dashboard">
        <div class="box green">
            <i class="fas fa-tasks"></i>
            <p>Tổng số công việc</p>
            <h3>{{ total_tasks }}</h3>
        </div>

        <div class="box blue">
            <i class="fas fa-check-circle"></i>
            <p>Công việc đã hoàn thành</p>
            <h3>{{ completed_tasks }}</h3>
        </div>
    </div>

    <hr />

    <h2>Danh sách công việc của bạn</h2>

    {% if tasks %}
        <div class="task-grid">
            {% for task in tasks %}
                <div class="task-card">
                    <strong>Công việc: {{ task.title }}</strong>
                    <p><strong>Mô tả:</strong> {{ task.description }}</p>
                    <p><strong>Deadline:</strong> {{ task.deadline_date|date:"d/m/Y" }} {{ task.deadline_time|date:"H:i" }}</p>
                    <div class="progress-bar-container">
                        <div class="progress-bar" style="width: {{ task.assignment.progress }}%;"></div>
                    </div>

                    <a href="{% url 'update_assignment' task.id %}">Cập nhật tiến độ</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Không có công việc nào được giao.</p>
    {% endif %}

</body>
</html>