        <div class="navbar">
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <a href="http://127.0.0.1:8000/"><img src="/static/IMAGES/mono.jpg" class="logo" alt="Logo"></a>
            <div class="brand">
                <h1 style="color: white;">M.A.I Task</h1>
                <h4 style="color: white;">Hệ thống quản lý nhân viên M.A.I</h4>
            </div>
            <ul class="nav">
                <li><a href={% url "adminlogin" %}>ADMIN</a></li>
                <li><a href={% url "about" %}>About Us</a></li>
                <li><a href={% url "login" %}>LOGIN</a></li>
                <li><a href={% url "contact" %}>Contact Us</a></li>
            </ul>
        </div>