<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Thêm Phòng Ban</title>
  <link rel="stylesheet" href="/static/css/regidment.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
  {% include 'base_nav.html' %}
  <div class="container">
    <h1>Thêm Phòng Ban</h1>
    <form action="" method="POST" novalidate>
      {% csrf_token %}
      <div class="form-column">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.code.label_tag }}
        {{ form.code }}
        {{ form.head.label_tag }}
        {{ form.head }}
      </div>
      <div class="form-column">
        {{ form.location.label_tag }}
        {{ form.location }}
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>
      <div class="button-wrapper">
        <button type="reset">Đặt lại</button>
        <button type="submit">Gửi</button>
      </div>
    </form>
  </div>
</body>
</html>