<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mô Tả Công Việc</title>
    <link rel="stylesheet" href="/static/css/taskdes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
    {% include 'base_nav.html' %}
    <div class="container">
        <h1>Mô Tả Công Việc</h1>
        <ul class="task-list">
            {% for employee in employees %}
            <li>
                <h2>{{ employee.name }}</h2>
                <p><strong>Số lượng công việc:</strong> {{ employee.task_count }}</p>
                <div class="task-details">
                    {% for task in employee.task_set.all %}
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ employee.email }}">
                        <p><strong>Công việc:</strong> {{ task.title }}</p>
                        <p><strong>Mô tả:</strong> {{ task.description }}</p>
                        <p><strong>Hạn chót:</strong> {{ task.deadline_date }} {{ task.deadline_time }}</p>
                        <hr id="two" />
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>