body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(55, 157, 148);
  margin: 0;
  padding: 0;
  color: #000000;
}

.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #2c3e50;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #dee2e6;
  text-align: left;
  vertical-align: middle;
}

table th {
  background-color: rgb(55, 157, 148);
  color: white;
  font-weight: 600;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
  transition: 0.3s;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 16px;
  background-color:  rgb(55, 157, 148);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: rgb(33, 94, 89);
}